@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  @apply bg-neutral-900 text-white
}

textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
textarea::-webkit-scrollbar-thumb {
  @apply bg-neutral-900 rounded-md
}

input[type="submit"] {
  @apply transition-all bg-white mt-5 p-3 text-neutral-900 font-bold rounded-md cursor-pointer border-2 border-transparent;
}

input[type="submit"]:hover {
  @apply bg-neutral-900 border-white text-white
}